body {
  text-align: center;
  background-color: darkslategrey;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #acbdbd;
  padding: 15px 0;
}

.navlink {
  text-decoration: none;
  font-size: 30px;
}

.navlink:hover {
  background-color: #809292;
  color: whitesmoke;
}
